@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.container1{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 #asterisco{
    position: absolute;
    right: 23rem;
    top: 9rem;
}

.container1 #estrela{
    position: absolute;
    right: 41rem;
    top: 13rem;
}

.container1 .foto img{
    border-radius: 100px;
    border: 3px solid black;
}

.container1 .texto{
    text-align: center;
}

.container1 .texto p{
    width: 350px;
    margin-top: 37px;
}

.container2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container2 .texto1{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;  
}

.container2 .texto1 p{
    width: 700px;
}

.container2 .texto2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container2 .texto2 .texto2texto1{
    width: 289px;
    text-align: center;
}

.container2 .texto2 .texto2texto2{
    width: 289px;
    text-align: center;
}

.container3{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container3 .texto3 p{
    width: 550px;
}

a, button {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

a{
    transition: 250ms;
}

a:hover{
    transform: scale(1.1);
    transition: 250ms;
}

nav{
    position: absolute;
    top: 100px;
    right: 35px;
    width: 250px;
}

.nav{
    position: fixed;
    left: -500px;
    width: 260px;
    height: 100%;
    background-color: #000;
    transition: .5s;
    z-index: 1;
}

.nav ul li{
    color: #fff;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
    padding: 20px 30px;
}

.burger .bar{
    position: fixed;
}

.burger{
    display: block;
    position: fixed;
    top: 8%;
    right: 95%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
    transition: all .5s;
}

.bar{
    top: 3px;
    background: #000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.nav.active{
    left: 0;
}

.burger.open #bar1{
    background-color: #fff;
}

.burger.open #bar2{
    background-color: #fff;
}

.burger.open #bar3{
    background-color: #fff;
}

.burger.open{
    right: 90.5%;
    transition: all .5s
}

