@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    transition: top 0.3 ease;
}

.containerInteiro{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
}

.container1{
    width: 100%;
    height: 562px;
}

.container2{
    height: 659px;
    width: 100%;
    background-color: white;
}

.container2 .navbar{
    display: flex;
    justify-content: space-between;
}

.container2 .navbar li{
    display: inline-block;
    font-size: 20px;
    padding: 0px 20px
}

.container2 .navbar h1{
    font-size: 25px;
    margin: 15px;
}

.container2 .akavirgingod{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .akavirgingod .textoImagem{
    display: flex;
}

.container2 .akavirgingod .textoImagem .texto{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 300px;
    margin-left: 138px;
    font-size: 20px;
}

.container2 .akavirgingod .textoImagem .texto .titulovgod{
    margin: 0;
}

.container2 .akavirgingod .textoImagem .texto .textovgod{
    margin: 0;
}

.container2 .akavirgingod .textoImagem .imagemvgod{
    padding-left: 156px;
}

.container3{
    display: flex;
    flex-direction: column;
}

.container3 .textos{
    display: flex;
    height: 440px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.container3 .textos .texto1{
    width: 268px;
}

.container3 .textos .texto2{
    width: 268px;
}

.container4{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.container4 .imgsupernova{
    width: 50%;
}

.container4 .textosupernova{
    display: flex;
    flex-direction: column;
    width: 260px;
    justify-content: center;
    text-align: center;
    margin-right: 194px;
}

.container4 .textosupernova h1{
    margin: 0;
}

.container4 .textosupernova p{
    margin: 0;
}

.container5{
    display: flex;
    background-image: url(../assets/bgdiscografia.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
}

.container5 .titulodiscografia{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container5 .elementos{
    display: flex;
    justify-content: center;
    margin-top: 9px; 
    font-size: 20px;
}

.container5 .elementos .albums{
    margin-top: 118px;
    margin-right: 50px 
}

.container5 .elementos .albums h3{
    transition: 250ms;
}

.container5 .elementos .albums h3:hover{
    transform: scale(1.1);
    transition: 250ms;
    cursor: pointer;
}

.container5 .elementos .eps h3{
    transition: 250ms;
}

.container5 .elementos .eps h3:hover{
    transform: scale(1.1);
    transition: 250ms;
    cursor: pointer;
}

.container5 .elementos .eps{
    margin-top: 118px;
    margin-left: 50px
}

.container5 .clique {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
    margin-left: 52px;
    font-size: 20px;
}

.container5 .discografiaalbuns{
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 373px;
}

.container5 .discografiaalbuns img{
    transition: 250ms;
}

.container5 .discografiaalbuns img:hover{
    transform: scale(1.1);
    transition: 250ms;

}

.container5 .discografiaeps{
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 373px;
}

.container5 .discografiaeps img{
    transition: 250ms;
}

.container5 .discografiaeps img:hover{
    transform: scale(1.1);
    transition: 250ms;
}

.container5 .voltar {
    display: none;
    justify-content: center;
    align-items: center;
    height: 33px;
    font-size: 20px;
}

.container5 .voltar span{
    transition: 250ms;
}

.container5 .voltar span:hover{
    transform: scale(1.1);
    transition: 250ms;
    cursor: pointer;
}

.container5 .discografiaeps .mtamor{
    display: flex;
    flex-direction: column;
}

.container5 .discografiaeps .mtamor .textomtamor{
    display: flex;
    justify-content: center;
}

.container5 .discografiaeps .duplapersona{
    display: flex;
    flex-direction: column;
}

.container5 .discografiaeps .duplapersona .textoduplapersona{
    display: flex;
    justify-content: center;
}

.container5 .discografiaeps .ldg{
    display: flex;
    flex-direction: column;
}

.container5 .discografiaeps .ldg .textoldg{
    display: flex;
    justify-content: center;
}

.container5 .discografiaalbuns .vgodcollection{
    display: flex;
    flex-direction: column;
}

.container5 .discografiaalbuns .vgodcollection .textovgodcollection{
    display: flex;
    justify-content: center;
}

.container5 .discografiaalbuns .neongenesisvgod{
    display: flex;
    flex-direction: column;
}

.container5 .discografiaalbuns .neongenesisvgod .textoneongenesisvgod{
    display: flex;
    justify-content: center;
}

.container5 .discografiaalbuns .liderdeginasio{
    display: flex;
    flex-direction: column;
}

.container5 .discografiaalbuns .liderdeginasio .textoliderdeginasio{
    display: flex;
    justify-content: center;
}
